div .request{
  border: solid;
  margin: 5px;
  padding: 20px;
  max-width: 600px;
  min-width: 500px;
  display: flex;
}

div .MatchingList{
  display: flex;
  flex-direction: column;
  margin: auto;
}

div #requestInfo{
  margin: auto;
  margin-left: 60px;
  text-align: left;
}

td{
  padding-left: 10px
}


#deleteButton{
  height: 30px;
  align-self: center;
  
}