@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

div#matching {
  div#matching-title {
    height: 10%;
    object-fit: contain;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 70%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: start;
    line-height: 1.2;
    letter-spacing: normal;
    color: #707070;
    margin-left: 3%;
  }

  div.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3%;
  }

  div#matching-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    row-gap: 10px;

    div#matching-introduce {
      width: 60%;
      height: 40%;
      display: flex;
      flex-direction: column;
      -ms-flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5%;

      p {
        border: groove 0.5px;
        padding: 2%;
      }
    }

    div#matching-form {
      width: 60%;
      height: 40%;
      display: flex;
      flex-direction: column;
      -ms-flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      textarea {
        width: 100%;
      }

      .caution {
        width: 100%;
        font-family: "Nanum Gothic", sans-serif;
        font-size: 80%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: start;
        color: #e70606;
        margin-left: 2%;
      }
    }
  }
}

.icon {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;

  .inline {
    margin-right: 2%;
  }
}
